$accentColor = #0e2f5a
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.navbar
  background-color: $accentColor !important
  .site-name
    color: #fff !important

body
  font-family: 'Roboto', 'Arial', sans-serif !important
  font-size: 18px !important